<div class="start-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1508854710579-5cecc3a9ff17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
</div>

<div class="container">

<h1>Booking Details:</h1>

<div class="container bandprofile">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <%= cl_image_tag @booking.band.photo.key %>
      </div>
    </div>
    <div class="col-md-6">
     <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="profile-item">
          <h1><%= @booking.band.name %></h2>
          <p><strong>Name:</strong> <%= @booking.band.name %></p>
          <p><strong>Description:</strong> <%= @booking.band.description %></p>
          <p><strong>Fee:</strong> <%= @booking.band.fee %> €</p>
          <p><strong>Genre:</strong> <%= @booking.band.genre.name %></p>
          <p><strong>Category:</strong> <%= @booking.band.category.name %></p>
          <p><strong>Startdate:</strong> <%= @booking.start_date %></p>
          <p><strong>Enddate:</strong> <%= @booking.end_date %></p>
          <%= link_to 'Back to overview', bookings_path, class: "btn btn-warning" %>
        </li>
      </ul>
    </div>
  </div>
</div>

</div>
