<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1508854710579-5cecc3a9ff17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
  <div class="row home-container">
    <div class="new">
      <h2 class= "text-center mb-1 ">Which kind of band?</h2>
      <%= simple_form_for :search, url: bands_path, method: 'get' do |f| %>
      <%= f.input :genre, collection: Genre.all, input_html: { class: "beautiful-dropdown" }, prompt: 'all genres', required: false, include_hidden: false, class: "form-group"  %>
      <%= f.input :category, collection: Category.all, input_html: { class: "beautiful-dropdown" }, prompt: 'all categories', required: false, include_hidden: false, class: "form-group"  %>
      <div class="form-row">
        <div class="col-6 form-group">
          <%= f.input :startdate, as: :string, required: false, input_html: {class: "datepicker form-control"}, placeholder: "DD.MM.YYYY" %>
        </div>
        <div class="col-6 form-group">
          <%= f.input :enddate, as: :string, required: false, input_html: {class: "datepicker form-control"}, placeholder: "DD.MM.YYYY" %>
        </div>
      </div>
      <%= f.button :submit, "Go!", class: "btn btn-warning btn-lg w-100 mb-2"%>
      <% end %>
    </div>
  </div>
</div>
<br>
<div class="text-center">
  <h2> Welcome to Rent a Band! Let's introduce our picks of the week</h2>
</div>


<div class="container">
  <div class="row">
    <% @bands.take(3).each do |band| %>
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="band-card flex-item">
        <% if band.photo.attached? %>
        <%= cl_image_tag band.photo.key %>
        <% else %>
        <%= cl_image_tag("a6fac407-95ce-4d45-b360-8330205ce210_l_svdjab") %>
        <% end %>
        <div class="card-infos">
          <p><strong><%= band.name %></strong></p>
          <p><%= band.genre.name %></p>
          <p><%= band.fee %> € / per day</p>
          <%= link_to 'Show', band, class: "btn btn-warning" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

