<body>


<div class="start-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1508854710579-5cecc3a9ff17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">

  <div class="text-center">
    <% if params[:search].present? == false || params[:search][:genre] == "" && params[:search][:category] == "" %>
    <h1 class="home-Headline"> Hi, check out our bands!</h1>
      <%else%>
    <h1> We found some cool artists for you!</h1>
       <%end%>
  </div>

</div>

<br>


<div class="container filter">
<%= simple_form_for :search, url: bands_path, method: 'get' do |f| %>
<div class="row row d-flex align-items-end mb-4">
  <div class="col-5 form-group mb-0">

    <% if params[:search].present? == false || params[:search][:genre] == "" %>
      <%= f.input :genre, collection: Genre.all, input_html: { class: "beautiful-dropdown" }, prompt: "all genres", required: false, include_hidden: false, class: "form-control"  %>
    <% else %>
      <%= f.input :genre, collection: Genre.all, input_html: { class: "beautiful-dropdown" }, selected: "#{params[:search][:genre]}", prompt: Genre.find(params[:search][:genre]).name, required: false, include_hidden: false, class: "form-control"  %>
    <% end %>

  </div>
  <div class="col-5 form-group mb-0">

    <% if params[:search].present? == false || params[:search][:category] == "" %>
      <%= f.input :category, collection: Category.all, input_html: { class: "beautiful-dropdown"}, prompt: "all categories", required: false, include_hidden: false, class: "form-control"  %>
    <% else %>
      <%= f.input :category, collection: Category.all, input_html: { class: "beautiful-dropdown"}, selected: "#{params[:search][:category]}", prompt: Category.find(params[:search][:category]).name, required: false, include_hidden: false, class: "form-control"  %>
    <% end %>

  </div>

  <div class="col-2 form-group">
    <%= f.button :submit, "Go!", class: "btn btn-warning w-100" %>
  </div>
</div>
<% end %>
</div>
<br>

<div class="container">
  <div class="row">
    <% @bands.each do |band| %>
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="band-card flex-item">
        <% if band.photo.attached? %>
        <%= cl_image_tag band.photo.key %>
        <% else %>
        <%= cl_image_tag("a6fac407-95ce-4d45-b360-8330205ce210_l_svdjab") %>
        <% end %>
        <div class="card-infos">
          <p><strong><%= band.name %></strong></p>
          <p><%= band.genre.name %></p>
          <p><%= band.fee %> € / per day</p>
          <%= link_to 'Show', band, class: "btn btn-warning" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
</body>
