<body>


<div class="container bandprofile">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <% if @band.photo.attached? %>
        <%= cl_image_tag @band.photo.key %>
        <% else %>
        <%= cl_image_tag("a6fac407-95ce-4d45-b360-8330205ce210_l_svdjab") %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
     <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="profile-item">
          <h1><%= @band.name %></h2>
          <p><strong>Name:</strong> <%= @band.name %></p>
          <p><strong>Description:</strong> <%= @band.description %></p>
          <p><strong>Fee:</strong> <%= @band.fee %> €</p>
          <p><strong>Genre:</strong> <%= @band.genre.name %></p>
          <p><strong>Category:</strong> <%= @band.category.name %></p>
          <%= link_to 'Book this band', new_band_booking_path(@band), class: "btn btn-warning" %>
          <%= link_to 'Back to overview', bands_path, class: "btn btn-warning" %>
        </li>
      </ul>
    </div>
  </div>
</div>

</body>
